#header{
	width:100%;
	height:100px;
}
#header p{
	text-align:center;
	font-size:35px;
}
td {
	text-align: center;
	border:solid #000 1px;
}

body,h1,h2,h3,h4,h6,p,ul,li,pre,form,input {
	margin: 0;
	padding: 0
}

h2 {
	text-align: center;
	color: #8B008B;
}

tr {
	background: #FFFFFF;
}

tr:nth-child(2n) {
	background: #ccc;
}

tr {
	background-color: expression(( this.sectionRowIndex % 2 == 0)?   "#FFFFFF":
		
		
		 "#ccc");
}

#body {
	width: 100%;
	overflow:hidden;
}

table{
	border-collapse:collapse;border:none;
}

.left,.right {
	float: left;
}


.left {
	width: 49%;
	border-right: 1px solid #8B008B
}

.right {
	width: 50%
}
a{
	text-decoration: none;
	color: #4B0082;
}
a:hover{
	text-decoration: underline;
	color: #0055A6;
}
a:focus{
	outline: 0;
	-moz-outline: 0
}
.footer {
	border-top: 200px solid #ECECEC;
}